.vscode
.idea
.gradle
derby.log
hyper-jdbc-lib/.gradle
hyper-jdbc-lib/build
hyper-jdbc-lib/bin
hyper-jdbc-lib/out
sample-app/bin
sample-app/build
sample-app/target
sample-app/.gradle
sample-app/src/main/resources/static
sample-app/out
db/data
