jql/build
db/postgres_data
jql+jpa-sample-app/build
jql+jpa-sample-app/.gradle
jql+jpa-sample-app/target
jql-spring-lib/.gradle
jql-spring-lib/build
jql-spring-lib/bin
.vscode
tutorial+sample-app/bin
sample-app+tutorial/bin
sample-app+tutorial/build
sample-app+tutorial/target
sample-app+tutorial/.gradle
sample-app+tutorial/db/postgres_data
test-22
